body {
  --fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --monospace-fonts: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
body {
  display: flex;
  position: relative;
  min-width: 1024px;
  min-height: 720px;
  max-width: 100vw;
  margin: 0;
  font-family: var(--fonts);
  flex-direction: column;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.link:not(.soft), .link.soft:hover {
  text-decoration: underline;
}
code {
  display: inline-block;
  padding: 0 5px;
  font-family: var(--monospace-fonts);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
}
.header {
  display: flex;
  width: 100vw;
  height: 80px;
  padding: 0 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
}
.header-left, .header-right {
  display: flex;
  width: 100px;
  align-items: center;
}
.header-left {
  margin-right: 20px;
}
.header-right {
  margin-left: auto;
  justify-content: flex-end;
}
.header .header-github-anchor {
  display: inline-flex;
  padding: 5px 10px;
  border: 2px solid;
  justify-content: center;
  align-items: center;
}
.header .header-github-anchor svg {
  margin-right: 5px;
}
.header .header-github-anchor,
.header .header-github-anchor svg path {
  color: #673AB7;
  fill: #673AB7;
}
.header .header-github-anchor:hover {
  background-color: #673AB7;
  border-color: transparent;
  color: #FFF;
}
.header .header-github-anchor:hover svg path {
  fill: #FFF;
}
.header-icon {
  margin-right: 10px;
}
.header-logo-anchor {
  display: flex;
  font-size: 20px;
  align-items: center;
}
.header-logo-anchor:hover {
  color: #03A9F4;
}

.body {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}

.slides {
  display: flex;
  position: relative;
  flex-grow: 1;
  justify-content: center;
}
.slides-navbar {
  display: flex;
  display: none;
  position: absolute;
  top: 0;
  width: 540px;
}
.slides-navbar .slides-nav {
  width: 200px;
  padding: 5px 0;
  border: 2px solid;
  border-top: 0;
  color: #FFF;
  font-family: var(--monospace-fonts);
  text-align: center;
  cursor: pointer;
}
.slides-navbar .slides-nav.green {
  background-color: #4CAF50;
}
.slides-navbar .slides-nav.green.selected {
  color: #4CAF50;
}
.slides-navbar .slides-nav.selected {
  background-color: #FFF;
  border-color: transparent;
  cursor: default;
}
.slides-navbar .slides-nav + .slides-nav {
  border-left: 0;
}
.slide {
  display: flex;
  margin-bottom: auto;
  flex-direction: column;
}
.slide.green {
  background-color: #4CAF50;
}
.slide.blue {
  background-color: #2196F3;
}
.slide.purple {
  background-color: #673AB7;
}
.slide-wrap {
  padding: 20px;
}
.slide-wrap .icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.slide-wrap .icon {
  text-align: center;
}
.slide-wrap .icon:not(.octicon) {
  width: 70px;
  font-size: 17px;
  font-family: var(--monospace-fonts);
}
.slide-wrap .icon.octicon {
  height: 120px;
  padding-top: 20px;
  font-size: 80px;
  box-sizing: border-box;
}
.slide-wrap h3, .slide-wrap p {
  margin-bottom: 10px;
}
.slide-wrap h3 {
  font-size: 17px;
}
.slide-wrap p {
  font-size: 12px;
}

.hub-iframe {
  position: absolute;
  top: 0;
}
.hub-iframe, .hero {
  width: calc(100vw);
  height: calc(100vh - 80px - 200px);
}
.hub-iframe, .docs-iframe {
  background-color: #FFF;
  border: 0;
}
.docs-iframe {
  width: 100vw;
  height: calc(100vh - 80px);
}

.hero {
  display: flex;
  color: #000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}
.hero .hero-wrap {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-heading {
  position: relative;
  height: 272px;
  margin-bottom: 10px;
  padding: 0 30px;
  padding-bottom: 20px;
  background-color: #000;
  color: #FFF;
  box-sizing: border-box;
}
.hero .hero-heading h1 {
  font-size: 60px;
  font-weight: 300;
}
.hero .loader-wrap {
  display: flex;
  height: 132px;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-flex;
  height: 38px;
  padding: 0 15px;
  background-color: transparent;
  border: 2px solid;
  font-family: var(--fonts);
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}
.button:hover {
  background-color: #000;
  border-color: transparent;
  color: #FFF;
}
.button.invert {
  color: #FFF;
}
.button.invert:hover {
  background-color: #FFF;
  color: #000;
}
.button.invert:hover img {
  filter: invert(100%);
}
.button.primary {
  background-color: #E91E63;
  border-color: transparent;
}
.button.primary:hover {
  background-color: #C2185B;
  border-color: transparent;
  color: #FFF;
}
.button.secondary {
  background-color: #E91E63;
  border-color: transparent;
}
.button.secondary:hover {
  background-color: #C2185B;
  color: #FFF;
}
.button .icon {
  margin-right: 5px;
}
.button.small {
  height: 30px;
  padding: 0 10px;
  font-size: 13px;
}

.modules-body {
  display: flex;
  min-height: calc(100vh - (80px * 2));
  padding: 20px;
  padding-right: 0;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.modules-body .module {
  display: flex;
  width: calc(((100vw - 20px - 17px) / 3) - 20px);
  margin-right: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEE;
}
.modules-body .module-image {
  width: 100px;
  height: 100px;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}
.modules-body .module-content {
  display: flex;
  width: calc((((100vw - 20px - 17px) / 3) - 20px) - 100px);
  padding: 5px 10px;
  flex-direction: column;
  box-sizing: border-box;
}
.modules-body .module-content .module-header {
  display: flex;
  margin-bottom: 5px;
  align-items: flex-end;
}
.modules-body .module-content .module-header .module-header-wrap {
  display: flex;
  width: 100%;
  align-items: flex-end;
}
.modules-body .module-content .module-header .module-header-wrap .name {
  margin-right: 5px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  flex-grow: 1;
}
.modules-body .module-content .module-header .module-header-wrap .name:hover {
  color: #2196F3;
  text-decoration: underline;
}
.modules-body .module-content .module-header .module-header-wrap .version {
  color: #808080;
  font-size: 13px;
  font-weight: 400;
}
.modules-body .module-content .description {
  font-size: 13px;
}

.module-body {
  display: flex;
  min-height: calc(100vh - (80px * 2));
}
.readme {
  display: flex;
  width: 980px;
  padding: 0 30px;
  box-sizing: border-box;
  align-items: flex-start;
}
.readme-content {
  width: 600px;
  margin-bottom: 80px;
  padding-right: 80px;
  box-sizing: border-box;
}
.readme-sidebar {
  width: 300px;
  margin-top: 30px;
}
.readme-sidebar .label {
  display: flex;
  height: 20px;
  margin: 0;
  align-items: center;
}
.readme-sidebar .code {
  display: flex;
  height: 38px;
  margin: 15px 0;
  padding: 15px;
  border-radius: 3px;
  align-items: center;
  overflow: hidden;
}
.readme-sidebar .hint {
  padding: 10px 15px;
  background-color: #F7F7F7;
  border: 2px solid #EEE;
  font-size: 13px;
}
.readme-sidebar .hint ul {
  list-style-type: square;
  margin: 2px 0;
}
.readme-sidebar .hint ul li + li {
  margin: 0;
}
.readme-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.readme-header .back-link {
  display: flex;
  position: relative;
  width: 60px;
  height: 80px;
  overflow: hidden;
}
.readme-header .back-link-wrap {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
}
.readme-header .back-image {
  width: inherit;
  height: inherit;
}
.readme-header .readme-image {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}
.readme-header .readme-header-wrap {
  display: flex;
  flex-grow: 1;
}
.readme-header .readme-header-wrap .name {
  margin-right: 15px;
  font-size: 40px;
  line-height: 1;
  flex-grow: 1;
}
.readme-header .readme-header-wrap .version {
  color: #808080;
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
}
.readme-header .readme-header-wrap {
  display: flex;
  align-items: flex-end;
}
.readme-placeholder {
  color: #BBB;
  font-size: 20px;
}

.servers-body {
  display: flex;
  width: 980px;
  // min-height: calc(100vh - (80px * 2));
  flex-grow: 1;
  padding: 30px;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
}
.servers-body .server {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEE;
}
.servers-body .server .server-image {
  display: flex;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}
.servers-body .server .server-wrap {
  display: flex;
  margin-right: auto;
  padding: 5px;
  flex-direction: column;
}
.servers-body .server .server-wrap .name {
  font-size: 20px;
  font-weight: 600;
}
.servers-body .server .server-wrap .url {
  font-size: 13px;
  font-weight: 400;
}
.servers-body .server .server-wrap .name:hover, .servers-body .server .server-wrap .url:hover {
  color: #2196F3;
  text-decoration: underline;
}
.servers-body .server .users {
  width: 300px;
  padding: 5px;
  box-sizing: border-box;
}
.servers-body .server .user {
  display: inline-block;
  margin-right: 5px;
  padding: 2px 10px;
  background-color: #F7F7F7;
  font-size: 13px;
  font-weight: 400;
}
.servers-body .server .server-arrow {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.servers-body .server .server-arrow img {
  width: 36px;
  height: 36px;
}

.details-wrap {}
.details-wrap h4 {
  margin-left: 115px;
  margin-bottom: 20px;
}
.details-wrap input[type=text], .details-wrap input[type=email], .details-wrap input[type=month] {
  width: 300px;
  margin-bottom: 10px;
  background-color: #DDD;
}
.details-wrap input[type=text]::-webkit-input-placeholder, .details-wrap input[type=email]::-webkit-input-placeholder, .details-wrap input[type=password]::-webkit-input-placeholder {
  color: #AAA;
}
.details-wrap .header-button {
  margin-left: 115px;
  margin-top: 10px;
  color: #FFF;
}
.details-wrap label {
  display: flex;
}
.details-wrap .left {
  display: flex;
  margin-right: 10px;
  width: 105px;
  font-size: 13px;
  line-height: 37px;
  justify-content: flex-end;
}
.details-wrap input[type=text].ccn {
  margin-right: 10px;
  width: 240px;
}
.details-wrap input[type=text].cvc {
  width: 50px;
}
.canvas-login-arrow {
  position: absolute;
  width: 600px;
  height: 600px;
  filter: brightness(1000000%);
  pointer-events: none;
  z-index: 2;
}
.logged-in .container {
  height: 300px;
}
section.container {
  display: flex;
  width: 100%;
  margin-top: -80px;
  padding-top: 80px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.container-wrapper {
  display: flex;
  width: 640px;
  color: #FFF;
  align-items: center;
  flex-direction: column;
}
.container-wrapper > h1 {
  margin: 30px 0;
  text-align: center;
}
.container-footer {
  width: 200%;
  height: 400px;
  margin-left: -50%;
  margin-top: -200px;
  position: absolute;
  background-color: #000;
  transform: rotateZ(-10deg);
}
.demographics > navbar {
  display: flex;
  width: 640px;
  height: 80px;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
}
.demographics > navbar > a {
  display: flex;
  position: relative;
  height: 100%;
  padding: 0 20px;
  padding-top: 15px;
  border-bottom: 5px solid transparent;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}
.demographics > navbar > a.selected::after {
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -11px;
  border-style: solid;
  border-width: 12px 12px 0 12px;
}
.demographics > navbar > a.red.selected {
  color: #E91E63;
  border-bottom-color: #E91E63;
}
.demographics > navbar > a.red.selected::after {
  border-color: #E91E63 transparent transparent transparent;
}
.demographics > navbar > a.green.selected, .demographics > navbar > a:hover {
  border-bottom-color: #03A9F4;
}
.demographics > navbar > a.green.selected {
  background-color: #000;
  color: #FFF;
}
.demographics > navbar > a.green.selected::after {
  border-color: #4CAF50 transparent transparent transparent;
}
.demographics > navbar > a.purple.selected {
  color: #7E57C2;
  border-bottom-color: #7E57C2;
}
.demographics > navbar > a.purple.selected::after {
  border-color: #7E57C2 transparent transparent transparent;
}
.demographics > navbar > a > i {
  margin-right: 10px;
}
section.details {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.details-wrapper {
  width: 100%;
}
.details-wrapper > h1 {
  width: 640px;
  margin: 30px auto;
  text-align: center;
}
.details-card {
  display: flex;
  width: 100%;
}
.details-text {
  display: flex;
  width: 370px;
  padding: 20px 0;
  margin-right: 30px;
  align-items: center;
  flex-direction: column;
}
.details-text > i {
  display: flex;
  font-size: 50px;
  text-align: center;
}
.details-text > i.red {
  color: #E91E63;
}
.details-text > i.green {
  color: #66BB6A;
}
.details-text > i.purple {
  color: #7E57C2;
}
.details-text > p {
  padding: 20px;
  color: #FFF;
  font-size: 14px;
  line-height: 1.6;
}
/* .faq {
  width: 640px;
  margin: 0 auto;
  margin-top: 20px;
}
h1, h2, h3, h4, p {
  margin: 10px 0;
  font-weight: 400;
  line-height: 1.4;
}
.faq-content {
  width: 640px;
  margin-top: -120px;
  padding-left: 160px;
  box-sizing: border-box;
}
.faq-header {
  margin: 0 -20px;
  padding: 0 20px;
  margin-bottom: 1px;
  background-color: #111;
  border-left: 3px solid #673AB7;
  font-size: 20px;
  line-height: 2;
  font-weight: 400;
}
.faq-card {
  margin-bottom: 30px;
}
.faq-card-item {
  margin: 0 -20px;
  margin-bottom: 1px;
  padding: 10px 20px;
  background-color: #111;
  border-left: 3px solid #673AB7;
  font-size: 12px;
  line-height: 1.6;
  box-sizing: border-box;
}
.faq-card-item > .q {
  margin-bottom: 5px;
  font-weight: 600;
}
.faq-card-item > .a {
  font-weight: 400;
} */
.videos-wrapper {
  width: 270px;
}
.main-video {
  width: 100%;
}
.videos-list {
  display: flex;
}
.video {
  width: 80px;
  margin: 15px 0;
}
.video + .video {
  margin-left: 15px;
}
section.list {
  display: flex;
  width: 100%;
  padding-top: 350px;
  background-color: #222;
  justify-content: center;
}
.grid {
  width: 100%;
}
.grid-item-wrap {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}
.grid-item-wrap:nth-child(1) {
  // background-color : #3F51B5;
}
.grid-item-wrap:nth-child(2) {
  background-image: linear-gradient(to right, #000000 , #222);
  color: #FFF;
}
.grid-item-wrap:nth-child(3) {
  border-top: 1px solid #000;
  background-image: linear-gradient(to right, #000000 , #222);
  // background-image: linear-gradient(to left, #000000 , #222);
  color: #FFF;
}
.grid-item-wrap:nth-child(4) {
  // background: linear-gradient(to left, #134E5E , #71B280);
  // background: linear-gradient(to left, #EB3349 , #F45C43);
  background: linear-gradient(to left, #000000 , #53346D);
  color: #FFF;
}
.grid-item-wrap:nth-child(5) h4 {
  font-weight: 300;
}
.grid-item {
  display: flex;
  width: 640px;
  padding: 30px 0;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.grid-item .screenshot {
  width: 640px;
  height: 150px;
}
.grid-item .icons {
  display: flex;
  align-items: center;
}
.grid-item .icon {
  display: flex;
  width: 200px;
  height: 120px;
  font-size: 50px;
  font-weight: 300;
  justify-content: center;
  align-items: center;
}
.grid-item .icon.small {
  width: 60px;
  height: 60px;
  margin: 10px;
}
.grid-item-1 .icon {
}
.grid-item-3 {
  padding-bottom: 0;
}
.grid-item-3 .icon {
  color: #673AB7;
}
.grid-item-4 .icon {
  color: #4CAF50;
}
.grid-item h4 {
  width: 100%;
  margin: 15px 0;
  font-size: 24px;
}
.grid-item p {
  width: 100%;
  font-size: 14px;
  line-height: 1.8;
}
.grid-item .grid-buttons {
  display: flex;
  width: 100%;
}
.grid-item .grid-button {
  display: inline-block;
  margin: 20px 0;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 2;
  border: 1px solid;
}
.grid-item .grid-button + .grid-button {
  margin-left: 20px;
}
.grid-item .grid-button:last-child {
  margin-right: auto;
}
.grid-item-header {
  font-size: 30px;
  font-weight: 400;
}
/* section.pricing {
  display: flex;
  background-color: #03A9F4;
  justify-content: center;
}
.pricing {
  padding: 40px 0;
}
.pricing-wrap {
  width: 520px;
}
.pricing-details {}
.pricing-details > img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.pricing-grid {
  display: flex;
  margin: 20px auto;
}
.pricing-item {
  display: flex;
  width: 50%;
  padding-top: 10px;
  flex-direction: column;
  box-sizing: border-box;
}
.pricing-item:not(.highlight) {
  background-color: #01579B;
}
.pricing-item.highlight {
  background-color: #4CAF50;
}
.pricing-heading {
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 2;
  justify-content: center;
  align-items: flex-end;
}
.pricing-footer {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
}
.pricing-button {
  display: flex;
  margin: 20px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pricing-button:hover {
  background-color: #FFF;
  border-color: transparent;
  color: #01579B;
}
.pricing-button.highlight {
  background-color: #F44336;
  border-color: transparent;
  font-weight: 400;
  color: #FFF;
}
.pricing-button.highlight:hover {
  background-color: #C62828;
}
.pricing-point {
  display: flex;
  padding-right: 20px;
  padding-left: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 13px;
  line-height: 3;
  align-items: center;
}
.pricing-point.dim {
  opacity: 0.5;
}
.pricing-point > i {
  width: 50px;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.plan, .dollars, .per-month {
  line-height: 1;
}
.plan {
  font-size: 30px;
}
.dollars {
  font-size: 30px;
}
.login-loader {
  display: flex;
  width: 350px;
  height: 230px;
  flex-direction: column;
} */

.content {
  display: flex;
  min-height: calc(100vh - 80px);
  flex-direction: column;
}
.load-status, .load-placeholder {
  padding: 15px 30px;
  flex-grow: 1;
  font-size: 30px;
  box-sizing: border-box;
}
.load-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: relative;
  display: flex;
  height: 80px;
  padding: 0 30px;
  background-color: #000;
  color: #808080;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}
.footer-wrap {
  display: flex;
  width: 640px;
  justify-content: center;
  align-items: center;
}
.footer-wrap.full {
  width: 100%;
}
.footer-left {
  margin-right: auto;
}
footer a:hover {
  text-decoration: underline;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  margin-bottom: -20px;
  color: #000;
  font-size: 11px;
  text-indent: -99999em;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: scale(0.5) translateZ(0);
  -ms-transform: scale(0.5) translateZ(0);
  transform: scale(0.5) translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 1s infinite ease 0.75s;
  animation: load2 1s infinite ease 0.75s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 1s infinite ease;
  animation: load2 1s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
